*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primary-color{
    color: #fb6c12;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 0 150px;
    font-size: 30px;
}
nav ul{
    display: flex;
    gap: 50px;
    font-size: 18px;
    align-items: center;
}
nav li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
}
.primary-btn{
    background-color: #fb6c12;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;

}
/* header style */
.header{
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-picture{
    width: 500px;
    margin-right: 50px;
}
.banner-text1{
    font-size: 45px;
    color: #474747;
    
}
.banner-text2{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-contant{
    max-width: 500px;
}
/* about style */
.about{
    margin: 100px 150px 0px 150px;
    background-color: #FFF8F3;
    text-align: center;
    padding: 100px 0px 100px 0px;
    
}
.about-content{
    text-align: center;
    justify-content: center;
}
.about-content p{
    color: #474747;
}
.about-info{
    display: flex;
    gap: 50px;
    margin-left: 320px;
}
.about-details{
    color: #474747;
}
/* what style */
.what{
    text-align: center;
    margin: 50px;
}
.what-text{
    color: #474747;
}